* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Wordle"; 
  src: url("/fonts/karnakcondensed-normal-700.woff") format("woff");
}

header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 3px;
}
.container {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  margin-top: 5px;
}

.titulo {
  font-family: "wordle", Arial, sans-serif;;
  font-size: 37px;
}

.tabuleiro {
  margin: auto;
  margin-top: 8%;
  width: 330px;
  height: 400px;
}

.linha {
  height: 67px;
}

.teclado {
  position: absolute;
  bottom: 2px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}


.letra-tabuleiro {
  width: 62px;
  height: 62px;
  display: inline-block;
  border: 2px solid #d3d6da;
  margin-bottom: 5px;
  line-height: 62px;
  font-size: 30px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}

.letra-teclado {
  display: inline-block;
  width: 43px;
  height: 58px;
  background-color: #D2D6DA;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 4px;
  margin-left: 1px;
  text-transform: uppercase;
  line-height: 58px;
  font-weight: bold;
  font-size: 13px;
}

.especial {
  width: 65px;
}

/* Letras do tabuleiro */
.letra-tabuleiro-errada {
  border: 2px solid #787c7e;
  color: #fff;
  background-color: #787c7e;
}

.posicao-tabuleiro-errada {
  background-color: #c9b458;
  border: 2px solid #c9b458;
}

.letra-tabuleiro-certa {
  background-color: #6aaa64;
  border: 2px solid #6aaa64;
}

.letra-tabuleiro-sem-confirmacao {
  border: 2px solid #878a8c;
  color: #000
}


/* Letras do teclado */
.letra-teclado-errada {
  color: #fff;
  background-color: #787c7e;
}

.posicao-teclado-errada {
  color: #fff;
  background-color: #c9b458;
}

.letra-teclado-certa {
  color: #fff;
  background-color: #6aaa64;
}
